service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    match /version/{v} {
      match /requests/{userId} {
        allow read, write: if isUserAuthenticated(userId);
      }

      match /tableInfos/{tableId} {
        allow read: if true;
      }

      match /tables/{tableId} {
        allow read: if true;
      }

      match /players/{userId} {
        allow read: if true;
      }
    }
  }
}
