@import url("https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i");

body {
    font-family: "Volkhov", "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
        "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
    text-align: center;
}

:focus {
    outline: none;
}

svg {
    fill: currentColor;
}

@keyframes blink {
    0% {
        filter: brightness(110%);
    }
    100% {
        filter: brightness(80%);
    }
}
